@import "../mixins";

$headerBackColor: rgb(224, 224, 233);
header {
  font-family: $menuFont;
  //@include bottom-inner-shadow;
  position: absolute;
  /*top: -1.3em;*/
  /*height:1.4em;*/
  top: 0;
  left: 0;
  z-index: 200;
  display: table;
  width: 100%;
  margin: 0;
  //@include transition (top, 0.5s, ease);
  h1 {
    background-size: cover !important;
    background-position: center !important;
    background-image: linear-gradient(to right, $headerBackColor 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.5) 100%);
    font-family: inherit;
    box-sizing: border-box;
    height: $headerHeight;
    line-height: 100%;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: 1px;
    color: #666666;
    margin: 0;
    padding-left: 0.8em;
    //    background: #ddddec;  /*Old browsers*/
    /*IE9 SVG, needs conditional override of 'filter' to 'none'*/
    //    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGRkZGVjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzklIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    //    background: -moz-linear-gradient(-45deg,  #ddddec 0%, #ffffff 79%);  /*FF3.6+*/
    //    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ddddec), color-stop(79%,#ffffff));  /*Chrome,Safari4+ */
    //    background: -webkit-linear-gradient(-45deg,  #ddddec 0%,#ffffff 79%);  /*Chrome10+,Safari5.1+ */
    //    background: -o-linear-gradient(-45deg,  #ddddec 0%,#ffffff 79%);  /*Opera 11.10+*/
    //    background: -ms-linear-gradient(-45deg,  #ddddec 0%,#ffffff 79%);  /*IE10+*/
    //    background: linear-gradient(135deg,  #ddddec 0%,#ffffff 79%);  /*W3C*/
    //    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddddec', endColorstr='#ffffff',GradientType=1 );  /*IE6-8 fallback on horizontal gradient*/
    font-weight: normal;
    text-shadow: 0 0 0.5em white;
  }
  .collapsed {
    nav {
      position: fixed;
    }
  }
}

h2 {
  font-family: $contentFont;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 1.5em;
  margin-right: 0;
  margin-left: -$textMargin;
  margin-bottom: 0;
  color: #666666;
  @include gradientFromLeft;
  padding-top: 0.35em;
  padding-bottom: 0.4em;

  padding-left: $textMargin;
  letter-spacing: 1px;
  width: 50%;
}

h3 {
  font-family: $contentFont;
  background: transparent;
  font-size: 1.2em;
  font-weight: normal;
  margin-top: 1.25em;
  margin-left: -$textMargin;
  color: #666666;
  letter-spacing: 1px;
  border-bottom: thin dotted #DBDBDB;
  text-align: left;
}

h4 {
  font-family: $contentFont;
  font-size: 16px;
  font-weight: normal;
  margin: 1.25em 0 0 0.83em;
  color: #666666;
  letter-spacing: 1px;
  padding: 5px;
  border-bottom: thin dotted #DBDBDB;
  width: 50%;
}

section {
  h1 {
    @extend h2;
  }
  section {
    h1 {
      @extend h3;
    }
  }
}


/*header:hover {*/
/*top:0;*/
/*}*/

.title {
  font-weight: lighter;
  position: fixed;
  font-size: 5em;
  color: #F5F5FF;
  z-index: -1;
  margin: 2vh 0;
}

/*@media (max-device-width: 480px) {*/
/*@media (touch-enabled),(-webkit-touch-enabled),(-moz-touch-enabled),(-o-touch-enabled),(-ms-touch-enabled) {*/
/*header {*/
/*position: fixed;*/
/*top:0;*/
/*box-shadow: none;*/
/*}*/
/*h1 {*/
/*margin-top: 0.7em;*/
/*}*/
/*}*/
//@media (min-width: 75em) {
/*@media (touch-enabled),(-webkit-touch-enabled),(-moz-touch-enabled),(-o-touch-enabled),(-ms-touch-enabled) {*/
//* {
//  font-size: 1.025em;
//}
//}
