@import "../mixins";

$headerBackColor: rgb(224, 224, 233);
header {
  font-family: $menuFont;
  margin: 0;
  background-size: cover !important;
  background-position: center !important;
  background-image: linear-gradient(to right, $headerBackColor 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.5) 100%);
  h1 {
    font-family: inherit;
    line-height: 100%;
    letter-spacing: 1px;
    color: #666666;
    margin: 0;
    padding: 0.8em;
    font-weight: normal;
    text-shadow: 0 0 0.5em white;
  }
}

h2 {
  clear:both;
  font-family: $contentFont;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 1.5em;
  margin-right: 0;
  margin-left: -$textMargin;
  margin-bottom: $shadowLength;
  color: #666666;
  @include gradientFromLeft;
  padding-top: 0.35em;
  padding-bottom: 0.4em;
  padding-left: $textMargin;
  letter-spacing: 1px;
  width: 50%;
  text-align: left;
}

h3 {
  @extend h2;
  background: transparent;
  font-size: 1.2em;
  margin-top: 1.25em;
  border-bottom: thin dotted #DBDBDB;
}

h4 {
  @extend h3;
  font-size: 16px;
  margin: 1.25em 0 0 0.83em;
  padding: 5px;
}

section {
  h1 {
    @extend h2;
  }
  section {
    h1 {
      @extend h3;
    }
  }
}


/*header:hover {*/
/*top:0;*/
/*}*/

.title {
  font-weight: lighter;
  position: fixed;
  font-size: 5em;
  color: #F5F5FF;
  z-index: -1;
  margin: 2vh 0;
}

/*@media (max-device-width: 480px) {*/
/*@media (touch-enabled),(-webkit-touch-enabled),(-moz-touch-enabled),(-o-touch-enabled),(-ms-touch-enabled) {*/
/*header {*/
/*position: fixed;*/
/*top:0;*/
/*box-shadow: none;*/
/*}*/
/*h1 {*/
/*margin-top: 0.7em;*/
/*}*/
/*}*/
//@media (min-width: 75em) {
/*@media (touch-enabled),(-webkit-touch-enabled),(-moz-touch-enabled),(-o-touch-enabled),(-ms-touch-enabled) {*/
//* {
//  font-size: 1.025em;
//}
//}
