@import "../variables";

nav {
  left: 0;
  top: 0;
  right: 0;
  z-index: 9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  > ul {
    overflow: auto; /* clearfix */
    width: 100%; /* clearfix */
  }
  ul {
    background: $headerFromColor; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$header-from-color', endColorstr='$header-to-color', GradientType=1); /* for IE */
    background: linear-gradient(left top, $headerFromColor, $headerToColor);
    margin: 0;
    padding: 0;
    li * {
      font-family: $menuFont;
    }
    li.alternate {
      color: lightgray;
    }
    li:hover {
      border-right: none;
    }
    li {
      a {
        text-decoration: none;
        padding: 0.3em 0.7em;
        width: 100%;
      }
      span.magnifying_glass {
        padding-left: 0.245em;
      }
      .label {
        padding: 0 0.7em;
        ul li:hover {
          cursor: pointer;
        }
      }
    }
    > li {
      padding: 0;
      border: none;
      margin: 0;
      float: left;
      line-height: 2em;
      font-size: 0.9em;
      display: inline;
    }
    ul {
      // Outline menu
      @include bottomInnerShadow;
      position: absolute;
      max-width: 80%;
      max-height: 99vh;
      overflow: scroll;
      z-index: -5;
      top: -100em;
      transition: top 0.3s ease;
      li {
        display: block;
        position: relative;
        padding: 0.3em 0.7em;
        float: none;
        &:hover, &:focus {
          color: #FFF;
          background-color: #0b75b2;
          text-decoration: none;
          cursor: pointer;
        }
        .outline1 {
          font-size: 1.4em;
        }
        .outline2 {
          font-size: 1.2em;
        }
        .outline3 {
          font-size: 1em;
        }
        .outline4 {
          font-size: 0.8em;
        }
      }
    }
  }
  .toggleMap {
    float: right;
  }
}

@media (min-width: 1024px) {
  nav {
    width: $leftSideWidth;
    height: 100%;
    ul {
      background: none;
      > li {
        float: none;
        display: block;
        width: 100%;
        ul {
          border: 1px ridge;
          padding-left: 2em;
          > li {
            float: none;
            display: block;
            > * {
              width: 100%;
            }
          }
          box-shadow: none;
          position: static;
        }
        > * {
          width: 100%;
        }
      }
    }
  }
  #text {
    left: $leftSideWidth;
    position: absolute;
    padding-top: $headerHeight;
  }
}

nav ul li a:hover, .menu ul li .current {
  color: #FFF;
  background-color: #0b75b2;
  text-decoration: none;
}

.menu {
  overflow: auto; /* clear workaround */
  width: 100%; /* clear workaround */

  ul {
    margin: 0;
    padding: 0;

    li {
      float: left;
      line-height: 2em;
      font-size: 0.9em;
      display: inline;
      border: none;

      a {
        text-decoration: none;
        color: #0b75b2;
        padding: 0.3em 0.7em;
        border: none;
      }
    }
  }
}

.menu ul li a:hover, .menu ul li a:active, .menu ul li a:focus, .menu ul li .current {
  color: #FFF;
  background-color: #0b75b2;
  text-decoration: none;
  border: none;
}

.SubMenu {
  float: right;
  .title {
    font-weight: bold;
    text-indent: 1.4em;
  }
}
