@import "../mixins";

.outline {
  font-size: 0.7em;
}
nav {
  font-size: 0.9em;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  > ul {
    overflow: auto; /* clearfix */
    width: 100%; /* clearfix */
  }
  ul {
    background: $headerFromColor; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$header-from-color', endColorstr='$header-to-color', GradientType=1); /* for IE */
    background: linear-gradient(left top, $headerFromColor, $headerToColor);
    margin: 0;
    padding: 0;
    li {
      padding: $selectionPadding;
      * {
        font-family: $menuFont;
      }
      &.alternate {
        color: lightgray;
      }
      &:hover {
        border-right: none;
      }
      span.magnifying_glass {
        padding-left: 0.245em;
      }
      .label {
        padding: 0 $selectionPadding;
        ul li:hover {
          cursor: pointer;
        }
      }
    }
//    font-size: 0.9em;
    > li {
      float: left;
      line-height: 2em;
      padding: 0 $selectionPadding;
      display: inline;
    }
    ul {
      // Outline menu
      padding: 0;
      @include bottomInnerShadow;
      position: absolute;
      max-width: 90%;
      max-height: 99vh;
      overflow: auto;
      z-index: -5;
      top: -100em;
      transition: top $transitionDuration ease;
      li {
        a {
          display: block;
        }
        h1 {
          padding: 0;
          margin: 0;
        }
        display: block;
        position: relative;
        padding: $selectionPadding;
        float: none;
        &:focus {
          color: #FFF;
          background-color: $hoverColor;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

.toggleMap {
  * {
    display: inline-block;
  }
  float: right;
  display: none;
  .label {
    display: none;
  }
}

@import "search/search";

@media (max-width: $breakPoint1) {
  aside {
    width: 0;
  }
}

@media (max-width: $breakPoint2) {
  .contents {
    width: 100%;
  }
}

@media (min-width: $breakPoint1) {
  .search {
    //    font-size: 1em;
    label {
      display: inline;
    }
  }
  nav {
    overflow: auto;
    width: $leftSideWidth;
    height: 100%;
    * {
      display: block;
    }
    ul {
      background: none;
      li {
        display: block;
        padding: $selectionPadding;
        float: none;
        ul {
          margin-left: 10%;
          box-shadow: none;
          position: static;
        }
      }
    }
  }
  .toggleMap {
    .label {
      display: inline;
    }
  }
  .text {
    left: $leftSideWidth;
    position: absolute;
    padding-top: $headerHeight;
  }
}


@media (min-width: $breakPoint2) {
  .contents {
    width: 100%-$rightSideWidth;
  }
  aside {
    width: $rightSideWidth;
  }
}

.menu ul li .current {
  color: #FFF;
  background-color: $hoverColor;
  text-decoration: none;
}

.menu {
  overflow: auto; /* clear workaround */
  width: 100%; /* clear workaround */

  ul {
    margin: 0;
    padding: 0;

    li {
      float: left;
//      line-height: 2em;
      font-size: 0.9em;
      display: inline;
      border: none;

      a {
        text-decoration: none;
        color: $hoverColor;
        padding: $selectionPadding;
        border: none;
      }
    }
  }
}

.menu ul li a:active, .menu ul li a:focus, .menu ul li .current {
  color: #FFF;
  background-color: $hoverColor;
  text-decoration: none;
  border: none;
}

.SubMenu {
  float: right;
  .title {
    font-weight: bold;
    text-indent: 1.4em;
  }
}
