img {
  margin: 1.25vh 1.25vh 1.5vh 1.25vh;
  max-width: 100%;
  border-radius: 0.2em;
}

caption {
  font-size: 1em;
  font-weight: bold;
  text-align: justify;
  vertical-align: bottom;
  margin: 0;
  caption-side: bottom;
}

figure {
  display: table;
  -webkit-transition: width 1s ease, height 1s ease;
  -moz-transition: width 1s ease, height 1s ease;
  -ms-transition: width 1s ease, height 1s ease;
  -o-transition: width 1s ease, height 1s ease;
  transition: width 1s ease, height 1s ease;
  transition-property: width, height;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  max-width: 75%;
  max-height: 90%;
  margin: 0 2vw 0 2vw;
  img {
    margin: 0;
    display: block;
    width: 100%;
  }
  &:hover {
    width: 35%;
  }
  &.static {
    &:hover {
      width: auto;
    }
  }
  figcaption {
    margin-top: 0.7em;
    @extend caption;
  }
}

table img {
  margin: 0;
}

.image-container {
  max-width: 75%;
  max-height: 75%;
  margin: 2vh;
  td {
    height: 100%;
  }
}

.leftImage {
  @extend .left;
  figcaption {
    text-align: left;
  }
}

.rightImage {
  @extend .right;
  figcaption {
    text-align: right;
  }
}
