img {
  margin: 1.25em 1.25em 1.5em 1.25em;
  max-width: 100%;
  border-radius: 0.2em;
}

caption {
  font-size: 1em;
  font-weight: bold;
  text-align: justify;
  vertical-align: bottom;
  margin: 0;
  display: table-caption;
  overflow: hidden;
  caption-side: bottom;
  max-height: 0;
  opacity: 0;
  transition: all 1s ease;
}

figure {
  border-radius: 0.3em;
  display: table;
  transition: all 1s ease;
  max-width: 75%;
  max-height: 90%;
  margin: 0 1em 0 1em;
  img {
    margin: 0;
    display: block;
    width: 100%;
  }
  &:hover {
    figcaption {
      margin-top: 0.7em;
      max-height: 100em;
      opacity: 1;
    }
    background: rgba(127, 127, 127, 0.2);
  }
  figcaption {
    @extend caption;
  }
}

table img {
  margin: 0;
}

.image-container {
  max-width: 75%;
  margin: 1em;
  td {
    height: 100%;
  }
}

.leftImage {
  @extend .left;
}

.rightImage {
  @extend .right;
}
