//font-family: 'Lora', serif;
//font-family: 'Lora', serif;
//font-family: 'Open Sans', sans-serif;
//font-family: 'Muli', sans-serif;
//font-family: 'Raleway', sans-serif;
//  font-family: 'Roboto Slab', serif;
//  font-family: 'Istok Web', sans-serif;
//  font-family: 'Palatino';
/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
/*font-family: "Georgia", serif;*/
//$contentFont: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
//$contentFont: "Raleway";
$contentFont: 'Open Sans', sans-serif;
$textMargin: 1.3em;
//$menu-font: Verdana, Geneva, sans-serif;
//$menu-font: 'Segoe UI', sans-serif;
$menuFont: $contentFont;
//$menu-font: "jaf-bernino-sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$transitionDuration: 0.3s;

$shadowColor: #555;

$gradientColorStart: rgba(234, 234, 249, 1);
$highlightColor: rgba(250, 255, 6, 0.1);

$borderRadius: 0.2em;
$shadowLength: 0.8em;

$headerTransparency: 0.95;
$headerFromColor: rgba(242, 242, 248, $headerTransparency);
$headerToColor: rgba(255, 255, 255, $headerTransparency);
$headerHeight: 5rem;

$navHeight: 2rem;

$caviarBackgroundColor: #333333;
$hoverColor: rgba(11, 117, 178, 0.4);

$selectionPadding: 0.3rem;
$selectedColor: rgba(11, 117, 178, 0.2);

$leftSideWidth: 18vw;
$rightSideWidth: 28%;

$breakPoint1: 60em;
$breakPoint2: 80em;