@import "mixins";

$codeBackground: rgb(241, 246, 247);

code {
  text-align: left;
  background-color: $codeBackground;
  font-size: 1.1em;
}

pre {
  $blurRadius: 1em;
  $offsetY: 0.3em;

  background-color: $codeBackground;
  code {
    background-color: initial;
  }
  overflow: auto;
  box-shadow: inset 0 $offsetY $blurRadius 0 rgba(0, 0, 1, 0.21);
  display: block;
  max-height: 80vh;
}

.obsolete {
  background-color: #FFFFFF;
}

.deprecated {
  text-decoration: line-through;
}

.anticode {
  font-family: monospace;
  font-size: medium;
  background-color: #F6F6F6;
  font-style: normal;
  font-weight: normal;
  text-align: left;
}

.titleCorner {
  border-top-style: none;
  border-left-style: none;
  font-style: italic;
  background-position: center center;
  border-right-style: none;
}

.oui {
  background-color: #EDFCEB;
}

.non {
  background-color: #FCEFED;
}
