@charset "utf-8";

@import "reset";
@import "mixins";

* {
  font-family: $contentFont;
  letter-spacing: .01rem;
  //  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  &.wait {
    cursor: wait;
    * {
      cursor: wait;
    }
  }
  overflow: hidden;
}

@import "js/head";

aside {
  height: 100%;
  float: right;
  position: relative;
  //  width: 0;
  //  width: 100%;
  //resize: horizontal;
  /*float:right;*/
  /*overflow-y: hidden;*/
  /*overflow-x: hidden;*/
  @include horizTrans;
}

.contents {
  @include bottomInnerShadow;
  float: left;
  position: relative;
  overflow-y: auto;
  overflow-x: auto;
  z-index: 1;
  line-height: 1.5em;
  width: 100%;
  height: 100%;
  //resize: horizontal;
  &.no-side {
    width: 100%;
  }

  @include horizTrans;

  background: /* Shadow covers */ linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */ radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .25), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .25), rgba(0, 0, 0, 0)) 0 100%;
  background: /* Shadow covers */ linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */ radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .25), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .25), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.text {
  left: 0;
  transition: left $transitionDuration;
  margin: 0 $textMargin;
  padding-top: $headerHeight + $navHeight;
  ul {
    text-align: justify;
    vertical-align: sub;
    time {
      font-weight: bold;
      &.duration {
        font-weight: normal;
        font-family: monospace;
      }
    }
    li {
      margin-top: 0.5em;
      padding-right: 0.8em;
      border-right: 0.4em solid rgba(255, 255, 255, 0);
    }
  }
  section {
    text-align: justify;
    vertical-align: sub;
    time {
      &.duration {
        font-weight: normal;
        font-family: monospace;
      }
    }
    article {
      margin-top: 0.5em;
      padding-right: 0.8em;
      border-right: 0.4em solid rgba(255, 255, 255, 0);
    }
  }
}

.divider {
  width: 0.3em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  cursor: col-resize;
  z-index: 2;
}

@import "js/foot";

/*section#main {*/
#main {
  /*top: 5em;
  position:relative;*/
  background-color: black;
  height: 100%;
  //  margin-top: 1.9em;
  padding: 0;
}

.tit {
  padding: 0 0.7em;
}

.columns {
  column-width: 15em;
}

@media (min-width: 720px) {
}

@media (max-width: 720px) {
  /*@media (touch-enabled),(-webkit-touch-enabled),(-moz-touch-enabled),(-o-touch-enabled),(-ms-touch-enabled) {*/

}

@media (max-width: 480px) {
  /*@media (touch-enabled),(-webkit-touch-enabled),(-moz-touch-enabled),(-o-touch-enabled),(-ms-touch-enabled) {*/

}

@import "people/people";
abbr {
  border-bottom: 1px dotted #999;
}

@import "js/nav";

/**
 * For <ul>
 */
.multi-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    text-align: left;
    float: left;
    width: 45%;
    margin: 0;
    padding: 0;
  }
}

.mainTitle {
  font-size: larger;
}

.clear {
  clear: both;
}

p {
  text-align: justify;
  margin: 1.25em 0 1.5em 0;
  hyphens: auto;
}

a {
  color: #006699;
  text-decoration: none;
  @include selectable;
}

details {
  summary {
    @extend a;
  }
  &[open] {
    summary {
      color: #000000;
      &:hover {
        background: none;
      }
    }
  }
}

ol {
  list-style: decimal outside;
  text-align: justify;
  li {
    padding-right: 0.8em;
    border-right: 0.4em solid white;
  }
}

.added {
  background: #fff0f0;
}

/*.added:before {*/
/*content: "[";*/
/*}*/
/*.added:after {*/
/*content: "]";*/
/*}*/
@import "quote";
@import "table";

.exergue {
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 2.1em;
  //  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-align: right;
  color: #4C4C4C;
}

.exergue + .exergue {
  margin-top: -0.7em;
}

strong {
  font-weight: bold;
  &:hover {
    font-weight: bold;
  }
}

.caviar {
  background-color: #333333;
  color: #333333;
}

form {
  margin: 0;
  padding: 0;
}

.objection {
  color: #FF5E5E;
}

.note {
  font-size: 0.7em;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  color: #666666;
  vertical-align: super;
}

.selected {
  background: #e2e2e8;
  /*color: white;*/
}

.selected a {
  /*color: white;*/
}

.source {
  vertical-align: super;
  font-size: 0.7em;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  color: #666666;
}

/*section {*/
/*-webkit-column-width:12em;*/
/*column-width:12em;*/
/*height:10em;*/
/*border-top:2em;*/
/*}*/
section:after {
  content: "";
  display: block;
  width: 50%;
  margin-left: 50%;
  color: #666666;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.5em;
}

//.abstract:before,
//.abstract:after {
//  content: "";
//  position: absolute;
//  z-index: -2;
//}
/* Lifted corners */
.abstract {
  font-weight: bold;
  border-right-style: none ;
  background: rgba(47, 47, 47, 0.10);
  padding: 0.7em;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

//.abstract:before,
//.abstract:after {
//  bottom: $shadow-length;
//  width: 50%;
//  max-width: 47%;
//  height: 20%;
//  box-shadow: 0 $shadow-length 10px rgba(0, 0, 0, 0.7);
//}
//$shadow-rotate: 1deg;
//.abstract:before {
//  left: 0.7em;
//  transform: rotate(-$shadow-rotate);
//}
//
//.abstract:after {
//  right: 0.7em;
//  transform: rotate($shadow-rotate);
//}

.abstract2 {
  @extend .abstract;
  font-weight: normal ;
}

.udotted {
  border-bottom: thin dashed;
}

.Mini {
  font-size: 0.5em;
}

@import "time/time";

.anticode {
  font-family: monospace;
  font-size: medium;
  background-color: #F6F6F6;
  font-style: normal;
  font-weight: normal;
  text-align: left;
}

.titleCorner {
  border-top-style: none;
  border-left-style: none;
  font-style: italic;
  background-position: center center;
  border-right-style: none;
}

.oui {
  background-color: #EDFCEB;
}

.non {
  background-color: #FCEFED;
}

.obsolete {
  background-color: #FFFFFF;
}

@import "images";

.side {
  width: 20%;
}

.long {
  height: 300px;
  height: 80vh;
}

.wide {
  margin: auto; /* centering */
  width: 90%;
}

iframe {
  display: block;
  overflow: auto;
  .wide {
    border-radius: $borderRadius;
    border-style: ridge;
  }
}

iframe, object, embed {
  @include embedded;
}

.image-container {
  max-width: 75%;
  margin: 2vh 2vw;
  td {
    height: 100%;
  }
}

.left {
  @extend .image-container;
  float: left;
  margin-left: 0;

  figcaption {
    text-align: left;
  }
  caption {
    padding-left: 2em;
    padding-right: 0.5em;
  }
}

.right {
  @extend .image-container;
  float: right;
  margin-right: 0;

  figcaption {
    text-align: right;
  }
  caption {
    padding-left: 0.5em;
    padding-right: 2em;
  }
}

.disappeared:after {
  color: lightgray;
  font-size: 0.5em;
  vertical-align: super;
  content: " disparu";
}

.canular {
  text-decoration: line-through;
}

.meprise:after {
  color: lightgray;
  font-size: 0.5em;
  vertical-align: super;
  content: " m\E9prise";
}

.explanation {
  font-size: 9pt;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  color: #666666;
}

.org {
  background-color: #E9FFE5;
}

.personne {
  background-color: #FEE9EA;
}

.tech {
  background-color: #E7EFFF;
}

.context {
  font-size: 12px;
  font-variant: small-caps;
}

.deprecated {
  text-decoration: line-through;
}

.swipe {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.swipe-wrap > * {
  float: left;
  position: relative;
  height: 100%;
}

code {
  font-family: monospace;
}

@import "place/place";

