@charset "utf-8";

@import "reset";
@import "mixins";

[data-ng-cloak] {             /* Angular early hide */
  display: none !important;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.01rem;
  //  font-weight: 400;
  line-height: 1.7;
}

html {
  font-family: $contentFont;
  height: 100%;
  text-size-adjust: 100%;
}

body {
  height: 100%;
  left: 0;
  margin: 0;

  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100%;

  &.wait {
    cursor: wait;

    * {
      cursor: wait;
    }
  }
}

aside {
  //resize: horizontal;
  @include horizTrans;
  float: right;

  height: 100%;
  position: relative;

  h1 {
    display: none; // Heading here is only for accessibility
  }
}

.contents {
  @include bottomInnerShadow;

  @include horizTrans;

  background: /* Shadow covers */
          linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)) 0 100%;
  background: /* Shadow covers */
          linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)) 0 100%;

  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

  float: left;
  height: 100%;
  line-height: 1.5em;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  width: 100%;
  z-index: 1;
  //resize: horizontal;
  &.no-side {
    width: 100%;
  }
}

.text {
  margin: $textMargin;
  transition: left $transitionDuration;

  ul {
    text-align: justify;
    vertical-align: sub;

    time {
      font-weight: bold;

      &.duration {
        font-family: monospace;
        font-weight: normal;
      }
    }

    li {
      margin-top: 0.5em;
    }
  }

  section {
    text-align: justify;
    vertical-align: sub;

    time {
      &.duration {
        font-family: monospace;
        font-weight: normal;
      }
    }

    article {
      border-right: 0.4em solid rgba(255, 255, 255, 0);
      margin-top: 0.5em;
      padding-right: 0.8em;
    }
  }
}

.divider {
  bottom: 0;
  cursor: col-resize;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.3em;
  z-index: 2;
}

/* section#main { */
#main {
  /* top: 5em;
  position:relative; */
  background-color: black;
  height: 100%;
  //  margin-top: 1.9em;
  padding: 0;
}

.tit {
  padding: 0 0.7em;
}

.columns {
  column-width: 15em;

  a {
    width: 100%;
  }
}

/**
 * For <ul>
 */
.multi-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  li {
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 45%;
  }
}

.mainTitle {
  font-size: larger;
}

.clear {
  clear: both;
}

.added {
  background: #fff0f0;
}

/* .added:before { */

/* content: "["; */

/* } */

/* .added:after { */

/* content: "]"; */

/* } */

strong {
  font-weight: bold;

  &:hover {
    font-weight: bold;
  }
}

.caviar {
  background-color: #333;
  color: #333;
}

form {
  margin: 0;
  padding: 0;
}

.objection {
  color: #ff5e5e;
}

.selected {
  background: #e2e2e8;

  /* color: white; */
}

.selected a {
  /* color: white; */
}

.udotted {
  border-bottom: thin dashed;
}

.Mini {
  font-size: 0.5em;
}

.context {
  font-size: 12px;
  font-variant: small-caps;
}

ui-view {
  .contents {
    background: transparent;
    box-shadow: none;
  }

  header,
  nav,
  .metadata {
    display: none;
  }

  .text {
    margin: 0;
  }
}

@import "src/head/head";
@import "src/nav";
@import "content";
@import "src/note/foot";
@import "dark";

@import "dt";
