@charset "UTF-8";

@import "map.css";
@import "search/search.css";
@import "figure.css";
@import "people/index.css";
@import "section.css";
@import "table.css";
@import "nav.css";
@import "source/index.css";
@import "note/index.css";
@import "link.css";
@import "quote.css";
@import "footer.css";

:root {
  --mobile-nav-height: 2rem;
  --head-height: 6rem;
  --nav-width: 18vw;
  --map-width: 18vw;
  --margin: 1rem;
  --icon-color: grey;
  --background-color: white;
  --color: black;
  --font-family: system-ui;
  --transform: none;
}

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion: reduce) {
  * {
    view-transition-name: unset !important;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family), sans-serif;
  -webkit-text-size-adjust: 100%
}

html, body {
  scroll-behavior: smooth;
}

.people-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin: 0;
  margin-left: 0.3em;
}

.text section, .text ul {
  text-align: justify;
  vertical-align: sub
}

* {
  line-height: 1.7;
  box-sizing: border-box
}

time.duration {
  font-weight: 400;
  font-family: monospace
}

body {
  margin: 0;
  padding: 0;
  padding-top: calc(var(--head-height) + var(--mobile-nav-height));
  line-height: 1.5em;
}

body.wait, body.wait * {
  cursor: wait
}

p {
  padding-left: var(--margin);
  padding-right: var(--margin);
}

p::first-letter {
  text-transform: uppercase;
}

.indexed time:not(.duration) {
  font-weight: 700;
}

.links {
  column-width: 14em;
}

.links li {
  margin-top: 2.5mm
}

.columns {
  -webkit-column-width: 15em;
  -moz-column-width: 15em;
  column-width: 15em;

  section {
    h2 {
      margin-left: 0;
      padding-left: 1em;
    }

    break-inside: avoid-column;
  }
}

.columns a, .columns details summary, details .columns summary {
  width: 100%
}

.multi-list {
  width: 100%;
  padding: 0;
  list-style: none
}

.multi-list li {
  text-align: left;
  float: left;
  width: 45%;
  margin: 0;
  padding: 0
}

.multi-list {
  margin: 0
}

form, header, header h1, .text {
  margin: 0
}

.divider {
  width: .3em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  cursor: col-resize;
  z-index: 2
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

#main {
  padding: 0
}

.mainTitle {
  font-size: larger
}

.added {
  background: #fff0f0
}

strong, strong:hover {
  font-weight: 700
}

.caviar {
  background-color: #333;
  color: #333
}

form {
  padding: 0
}

.objection {
  color: #FF5E5E
}

.selected {
  background: #e2e2e8
}

.udotted {
  border-bottom: thin dashed
}

.Mini {
  font-size: .5em
}

.context {
  font-size: 12px;
  font-variant: small-caps
}

.explanation, .mois {
  font-variant: normal
}

#main-header h1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-family: inherit;
  color: #666;
  line-height: 1.5;
  padding: .7em;
  padding-left: 0.6em;
  max-height: 4em;
  text-shadow: 0 0 .5em #fff;
  overflow: hidden;
}

.title {
  font-weight: lighter;
  position: fixed;
  font-size: 5em;
  color: #F5F5FF;
  z-index: -1;
  margin: 2vh 0
}

.SubMenu .title, nav.collapsed .outline-title {
  font-weight: 700
}

.menu, iframe {
  overflow: auto
}

.long {
  max-height: 80vh
}

.menu {
  width: 100%
}

.menu ul {
  margin: 0;
  padding: 0
}

.menu ul li {
  float: left;
  font-size: .9em;
  display: inline;
  border: none
}

.menu ul li a, .menu ul li details summary, details .menu ul li summary {
  text-decoration: none;
  color: rgba(11, 117, 178, .4);
  padding: .2rem .3rem;
  border: none
}

.menu ul li .current, .menu ul li a:active, .menu ul li a:focus, .menu ul li details summary:active, .menu ul li details summary:focus, details .menu ul li summary:active, details .menu ul li summary:focus {
  color: #FFF;
  background-color: rgba(11, 117, 178, .4);
  text-decoration: none;
  border: none
}

.SubMenu {
  float: right
}

.SubMenu .title {
  text-indent: 1.4em
}

data {
  border-bottom: 1px #999 dotted
}

.wide {
  width: 100%
}

iframe {
  display: block
}

iframe .wide {
  border-style: ridge
}

p {
  text-align: justify
}

.abstract, .abstract2 {
  font-weight: 700;
  border-right-style: none;
  background: rgba(47, 47, 47, .1);
  padding: .7em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(0, 0, 0, .1) inset
}

.abstract2, td, th {
  font-weight: 400
}

.org {
  background-color: #E9FFE5
}

.personne {
  background-color: #FEE9EA
}

.tech {
  list-style-type: square;
}

#rr0-context-select {
  clear: both;
}

#rr0-context-select > * {
  text-align: right;
  display: block;
}

p {
  margin: 1.25em 0 1.5em;
  -ms-hyphens: auto;
  hyphens: auto
}

details summary, .toggle, form label {
  text-decoration: none;
  padding: .2rem .3rem;
  margin: -.2rem -.3rem
}

details summary, .toggle {
  color: #069;
}

a:hover, details summary:hover, .toggle:hover, .indexed li:hover, form label:hover, .multilang:hover {
  border: none;
  border-radius: .2em;
  background: rgba(184, 197, 212, .19)
}

.canular::after, .hoax::after {
  content: " 🤥";
}

.deprecated {
  text-decoration: line-through
}

abbr {
  border-bottom: 1px dotted #999
}

details[open] {
  border: 1px dotted #000
}

details[open] > * {
  margin: 0;
  padding: .5em
}

details[open] summary {
  color: #000;
  margin: 0;
  padding: 0
}

details[open] summary:hover {
  background: 0 0
}

.text > p:first-of-type {
  margin-top: 0
}

.text > p:last-of-type {
  margin-bottom: 0
}

.option {
  white-space: nowrap;
  display: inline-block;
  margin-right: 1em
}

a:hover, details summary:hover, .indexed li:hover, .multilang:hover {
  transition: background .2s ease-out
}

.book .cover {
  position: absolute
}

.scrollable {
  width: 100%;
  overflow: auto;
}

.exergue {
  vertical-align: baseline
}

iframe.long {
  height: 80vh;
  transition: all .8s ease-out
}

cite {
  font-style: normal;
  color: grey;
  margin-top: -0.4em;
  display: block;
  text-align: right;
}

cite::before {
  content: '— ';
}

p[data-author]:before {
  content: attr(data-author) " : "
}

q:before {
  content: "«\00a0"
}

q:after {
  content: "\00a0»"
}

q.question:before {
  content: "—\00a0"
}

q.question:after {
  content: ""
}

q.answer:before {
  content: "—\00a0"
}

q.answer:after {
  content: ""
}

q.question {
  font-weight: bolder;
  margin-bottom: 0
}

q.answer {
  margin-top: .5em
}

code, pre {
  background-color: #f1f6f7
}

span.question {
  font-weight: 700
}

span.question::before {
  content: ""
}

span.question::after {
  content: " : "
}

span.answer::after, span.answer::before {
  content: ""
}

.exergue {
  font-style: italic;
  text-align: right;
  color: #4C4C4C
}

.dateEnd, .dateStart {
  text-align: right;
  color: #6373A0
}

.anticode, code {
  text-align: left
}

.exergue {
  display: inline
}

.exergue .source > a:first-of-type, .exergue .source details summary:first-of-type, details .exergue .source summary:first-of-type {
  display: none
}

code {
  font-size: 1.1em
}

code .tag {
  color: blue;
}

pre {
  overflow: auto;
  display: block;
  max-height: 80vh
}

pre code {
  background-color: initial
}

.obsolete {
  background-color: #FFF
}

.anticode {
  font-family: monospace;
  font-size: medium;
  background-color: #F6F6F6;
  font-style: normal;
  font-weight: 400
}

.dateEnd, .dateStart, .titleCorner {
  font-style: italic
}

.titleCorner {
  border-top-style: none;
  border-left-style: none;
  background-position: center center;
  border-right-style: none;
  background-color: transparent;
}

.oui {
  background-color: rgba(214, 252, 217, .5)
}

.non {
  background-color: rgba(252, 219, 209, .5)
}

.dateEnd, .dateStart {
  background-color: #F3F8FA
}

.context {
  border: 1px dashed #add8e6
}

.dateEnd {
  vertical-align: top;
  border-style: solid solid none none;
  border-top: medium #FFF;
  border-right: medium #D7E2EA;
}

.dateStart {
  vertical-align: bottom;
  border-style: none;
  border-right: medium solid #D7E2EA;
  border-bottom: medium solid #D7E2EA;
}

.explanation, .heure {
  font-style: normal
}

.mois {
  font-weight: bolder;
  color: #666
}

.jour {
  font-weight: 700
}

.explanation, .source {
  font-weight: 400
}

.heure {
  font-family: "Courier New", Courier, monospace
}

dt, dd {
  display: inline-block;
  margin: 0;
}

.document-author {
  font-size: .8em;
  padding: .5em 1em;
  color: grey;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGZkZmYyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzklIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: linear-gradient(135deg, #eaeaf9 0, rgba(255, 255, 255, 0) 79%)
}

a:not(.raw)[target="_blank"]::after {
  content: " 🔗"
}

.place, .plac {
  color: #006;
  cursor: pointer;
}

.place:hover, .plac:hover {
  background-color: #f5f5ff;
  color: navy;
  border-radius: .2em
}

#starmap {
  width: 100%;
  height: 0
}

.hovered {
  border: none;
  border-radius: .2em;
  background: rgba(184, 197, 212, .49);
  transition: background .2s ease-out
}

.meprise:after, .misinterpretation::after {
  content: " 😵‍💫"
}

.explanation {
  font-size: 9pt;
  line-height: normal;
  color: #666
}

.deceased::after {
  content: " †";
  color: grey;
}

.pseudonym {
  font-style: italic;
}

.foot:target {
  background: #bbb;
  color: #fff
}

.book a, .book details summary, details .book summary {
  display: inline-block
}

.book a:hover .cover, .book details summary:hover .cover, details .book summary:hover .cover {
  opacity: 1;
  z-index: 1;
  box-shadow: 0 .5em 1em -.1em #555
}

.book .cover {
  opacity: 0;
  transition: opacity .3s, box-shadow .3s
}

.pln {
  color: #000
}

pre.prettyprint {
  padding: 2px;
  border: 1px solid #888
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0
}

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none
}

li.L1, li.L3, li.L5, li.L7, li.L9 {
  background: #eee
}

#footerTable {
  overflow: hidden
}

.visible {
  display: inline-block;
}

dl.bullet {
  margin: 0;
  padding: 0;
}

dl.bullet dt::before {
  content: '\2022';
  display: inline-block;
  width: 1.8em;
  text-align: right;
  padding-right: 0.7em;
}

dl.bullet dt {
  float: left;
  font-weight: bold;
}

dl.bullet dt::after {
  content: ' : ';
  padding-right: 0.3em;
}

dl.bullet dd {
  display: block;
  margin-left: 2.5em;
}

#main-header {
  position: sticky;
  top: -100%;
  margin-top: calc(var(--head-height) * -1 - var(--mobile-nav-height));
  background-size: cover !important;
  background-position: center !important;
  background-image: linear-gradient(to right, rgba(224, 224, 233, 0.5) 0, rgba(255, 255, 255, .5) 100%);
  transform: var(--transform)
}

.toggle {
  appearance: none;
  border: none;
  background-color: transparent;
}

.toggle {
  font-size: 0.9rem;
  display: none;
}

*:not(html)[lang='en'] {
  font-style: italic;
}

.anchor {
  position: relative;
  top: calc((var(--head-height) + 0.5rem) * -1);
  cursor: default;
}

.index-anchor {
  top: calc((var(--head-height) + 1.5rem) * -1);
}

@media (pointer: coarse) {
  abbr[title]:after {
    content: " (" attr(title) ")"
  }
}

@media (min-width: 60em) {

  #main-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    z-index: 101;
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
  }

  .label {
    display: inline
  }

  .outline, .outline li, .outline li a, .outline li details summary, details .outline li summary {
    display: block
  }

  .outline {
    overflow: auto;
    padding: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$header-from-color', endColorstr='$header-to-color', GradientType=1);
    position: relative;
    height: auto;
    box-shadow: none;
    max-height: 75vh;
    margin-left: 10%
  }

  #summary {
    max-height: 65vh;
    overflow: auto;
  }

  .outline li {
    padding: .2rem .3rem;
    float: none
  }

  .outline li h1 {
    padding: 0;
    margin: 0
  }

  .outline li:focus {
    color: #FFF;
    background-color: rgba(11, 117, 178, .4);
    text-decoration: none;
    cursor: pointer
  }

  body {
    padding-top: var(--head-height);
    margin-left: var(--nav-width);
    width: 76vw;
  }
}

@media (min-width: 80em) {

  body {
    padding-top: var(--head-height);
    margin-left: 21vw;
    width: 57vw;
  }
}

@keyframes show-portrait {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.data-resolved {
  position: relative;
}

.portrait {
  margin: 0;
  transform-origin: top;
  position: absolute;
  z-index: 1;
  left: 0;
  transform: scale(0);
  opacity: 0;
  display: block;
  transition: 0.3s opacity ease, 0.3s box-shadow ease, 0.3s transform ease;
  box-shadow: #0000006e 5px 12px 20px 0;;
}

a:hover {
  position: relative;

  .portrait {
    animation: show-portrait 0.3s 1s forwards;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background-color: black;
    --color: lightgrey;
  }

  details[open] summary {
    color: white;
  }

  details[open] summary:hover, details summary:hover {
    background-color: rgb(24, 37, 42);
  }

  .document-author {
    color: grey;
    background: linear-gradient(135deg, #555555 0, rgba(255, 255, 255, 0) 79%)
  }

  .toggle {
    color: var(--link-color);
  }

  #main-header {
    background-image: linear-gradient(to right, rgba(25, 25, 31, 0.5) 0, rgba(255, 255, 255, .5) 100%)
  }

  #main-header h1 {
    color: lightgrey;
    text-shadow: none;
  }

  .place, .plac {
    color: lightskyblue;
  }

  .place:hover, .plac:hover {
    background-color: darkslategray;
  }

  .exergue {
    color: lightgrey;
  }

  .abstract, .abstract2 {
    background-color: #2f3032;
  }

  code, pre {
    background-color: #2f3032;
  }
}

@media print {
  * {
    display: none
  }

  *:after {
    content: "Do not print"
  }
}

.indexed li p, .multilang p {
  margin: 0;
}

.hidden {
  display: none;
}

li.visible {
  display: list-item;
}

p.visible {
  display: block;
}

span.visible {
  display: inline;
}
