section {
  transition: background-color .2s ease-out
}

section:hover {
  background-color: rgba(127, 127, 127, 0.05);
  background: linear-gradient(316deg, #f3f7fb 0, rgba(255, 255, 255, 0) 79%);
}

section:after {
  content: "";
  display: block;
  width: 50%;
  margin-left: 50%;
  color: #666;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.5em
}

.text section article {
  margin-top: .5em;
  padding-right: .8em;
  border-right: .4em solid rgba(255, 255, 255, 0)
}

h1, h2, h3, h4, h5 {
  text-wrap: balance;
}

h2, h3, h4, h5, section h1, section section h1 {
  color: white;
  background: linear-gradient(135deg, #384858 0, rgba(255, 255, 255, 0) 79%);
  border-bottom: none;
  border-top-left-radius: 0.3em;
}

h2, h3, h4, h5, nav ul li *, section h1, section section h1 {
  font-family: system-ui, sans-serif;
}

h2, h3, h4, h5, section h1, section section h1 {
  clear: both;
  text-decoration: none;
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 400;
  margin: 1.5em 0 .8em -2.25rem;
  color: #666;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZGZkZmYyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzklIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: linear-gradient(135deg, #eaeaf9 0, rgba(255, 255, 255, 0) 79%);
  padding-top: .35em;
  padding-bottom: .4em;
  padding-left: calc(2.4rem + var(--margin));
  letter-spacing: 1px;
  text-align: left
}

h2:first-of-type {
  margin-top: 0;
}

h3 {
  font-size: 1.4em
}

h4 {
  font-size: 1.3em
}

h5 {
  font-size: 1.2em
}

h3, h4, h5, section section h1 {
  background: 0 0;
  margin-top: 1.25em;
  border-bottom: thin dotted #DBDBDB
}

h4 {
  margin: 1.25em 0 0 .83em;
  padding: 5px
}

h5 {
  margin: 1.25em 0 0 .83em;
  padding: 4px
}

@media (prefers-color-scheme: dark) {
  section:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  h2, h3, h4, h5, section h1, section section h1 {
    color: white;
    background: linear-gradient(135deg, #384858 0, rgba(255, 255, 255, 0) 79%);
    border-bottom: none;
    border-top-left-radius: 0.3em;
  }

  section:after {
    border-bottom-color: #555;
  }
}
