@charset "utf-8";

@import "mixins";

th {
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  background-color: rgba(109, 110, 120, 0.10);
  color: #666666;
  text-align: left;
  padding: 2px 1em;
}

td {
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  text-align: justify;
  padding: 5px;
}

table {
  $blurRadius: 1em;
  $offsetY: 0.3em;
  margin: 1.25em 1.25em 1.5em 1.25em;
  border: none;
  thead {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  tbody {
    box-shadow: inset 0 $offsetY $blurRadius 0 rgba(0, 0, 1, 0.21);
    display: block;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    tr {
      display: table;
      table-layout: fixed;
      width: 100%;
    }
  }
  &:not(thead) {
    tbody {
      &:first-child {
        border-top: rgb(255, 255, 255) $blurRadius - $offsetY solid;
      }
      &:last-child {
        border-bottom: rgb(255, 255, 255) $blurRadius - $offsetY solid;
      }
    }
  }
  th, td {
    width: auto;
  }
}