.witness, .temoin, .temoin1, .temoin2, .temoin3 {
  display: inline-block;
  color: #333;
  background: linear-gradient(to right, #fff, #333 2%, #333 98%, #fff);
  transform: rotate(-1.5deg);
  text-align: center
}

.witness a {
  color: grey;
}

@media (prefers-color-scheme: dark) {

  .witness, .temoin, .temoin1, .temoin2, .temoin3 {
    color: white;
    background: linear-gradient(to right, #000, #333 2%, #333 98%, #000);
  }
}
