rr0-search {
  width: 2.5em;
  transition: background .2s ease-out, width 0.3s ease;
}

rr0-search::part(input) {
  line-height: inherit;
  box-sizing: inherit;
}

rr0-search:focus {
  width: 12em;
}

rr0-search::part(input) {
  width: 100%;
}

rr0-search:hover {
  border: none;
  background: rgba(184, 197, 212, .49)
}

@media (min-width: 60em) {

  rr0-search, rr0-search:focus {
    width: 100%;
  }
}
