@import "../mixins";

.people {
}

.author {
  margin: 0 -2.9em;
  background-color: #F9F9F9;
  font-size: 0.7em;
  padding: 0.5em;
  color: gray;
  @include gradient-from-left;
}
.temoin {
  display: inline-block;
  color: $caviarBackgroundColor;
  background: linear-gradient(to right, white, $caviarBackgroundColor 2%, $caviarBackgroundColor 98%, white);
  transform: rotate(-0.5deg);
  text-align: center;
}

.temoin1 {
  @extend .temoin;
}

.temoin2 {
  @extend .temoin;
}

.temoin3 {
  @extend .temoin;
}

