@import "witness/index.css.js";

#searchForm {
  padding: 1em 0.5em;
  border: 1px solid gray;
  margin: 1em 0;
  display: none;

  .option {
    column-width: 12em;
  }

  .all {
    text-align: right;
  }

  label, output {
    padding: 0.5em 1em;
    white-space: nowrap;
  }

  input[name="text"] {
    margin-left: 0.5em;
  }

  output {
    color: gray;
  }
}
