<div data-ng-controller="HeadController">
  <header>
    <h1 [hidden]="isFramed">
      <a *ngIf="titleUrl" href="{{titleUrl}}" target="_blank" [innerHTML]="title"></a>
      <span *ngIf="!titleUrl" [innerHTML]="page?.title"></span>
    </h1>
  </header>
  <nav>
    <h1>Navigation</h1>
    <ul>
      <li *ngIf="isFramed" class="constant">
        <a href="/" class="home"> <span title="Home" class="label">RR0</span> </a>
      </li>
      <li class="constant"> <!--[hidden]="isFramed"-->
        <rr0-search></rr0-search>
      </li>
      <li *ngFor="let p of ps" class="constant {{p.style}}">
        <a href="{{p.link}}" *ngIf="p.link && p.label">
          <span [innerHTML]="p.label" [title]="p.title"></span>
        </a>
      </li>
      <!--li data-ng-repeat-end data-ng-cloak *ngIf="p.link && p.label" class="collapsed">
                <i class="fa fa-angle-right"></i></li-->
      <li tabindex="100" (click)="titleClick()" class="constant">
        <a href="#contents" (click)="sectionClick('#contents')" class="outline-title" id="out-top">
          <span class="constant" [innerHTML]="outline" title="Début de l'article"></span> </a>
        <ul class="outline">
          <li [tabindex]="101+i" class="constant" *ngFor="let s of sections; index as i" (click)="sectionClick(s)">
            <a href="#{{s.id}}" id="out-{{s.id}}">
              <span [innerHTML]="s.outlineLabel"></span>
            </a>
          </li>
        </ul>
      </li>
      <li *ngFor="let n of ns" class="collapsed">
        <div *ngIf="n.link && n.label">
          <i class="fa fa-angle-right"></i>
        </div>
      </li>
      <!--li data-ng-repeat-end class="constant {{n.style}}" *ngIf="n.link && n.label">
                <a href="{{n.link}}"><span [innerHTML]="n.label" title="{{n.title}}"></span></a>
            </li-->
      <li class="constant">
        <span [innerHTML]="alternate"></span>
      </li>
      <li class="toggleMap constant">
        <a href='#'>
          <span class="label">Carte</span>
          <span><i class="fa fa-map-marker"></i></span>
        </a>
      </li>
    </ul>
  </nav>
</div>
