<
style type

=
"text/css"
>
ul.multiList {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.multilist li {
  float: left;
  width: 45%;
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.mainTitle {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: larger
}

h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  word-spacing: normal;
  letter-spacing: 1px;
  color: #666666;
}

p {
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-variant: normal;
  text-transform: none;
  text-align: justify;
  clip: rect();
  text-indent: 20pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: justify;
  font-variant: normal;
  vertical-align: sub;
}

address {
  font-family: "Courier New", Courier, mono;
  font-size: 16px;
  margin-left: 1cm
}

ol {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  list-style-position: outside;
  list-style-type: decimal;
  text-align: justify
}

h2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  margin-top: 25px;
  margin-right: 0px;
  margin-left: 0px;
  color: #666666;
  border-bottom: thin solid #CCCCCC;
  padding-bottom: 5px;
  letter-spacing: 1px;
  width: 50%;
}

<
/
style >
h3 {
  font-family: Tahoma, sans-serif;
  font-size: medium;
  font-style: normal;
  line-height: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  height: auto;
  width: 100%;
  margin-top: 10px;
  margin-right: 0px;
  border-color: black;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: black groove;
  border-width: 0px 0px thin
}

h3 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  clip: rect();
  color: #666666;
  letter-spacing: 1px;
  border-bottom-style: dotted;
  padding: 5px;
  border-bottom-width: thin;
  border-bottom-color: #DBDBDB;
}

cite {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: none;
  background-color: #FFFEF0;
  background-repeat: repeat-x;
  text-indent: 0pt;
  text-align: justify;
  vertical-align: baseline;
  font-style: normal;
  color: #555555;
}

th {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  background-color: #F2F3F7;
  color: #666666;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: justify;
  padding: 5px;
}

blockquote {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: left
}

.source {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #666666;
}

.source:focus, .source:active {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-style: bold;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #333333;
}

.exergue {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-align: right;
  font-size: 18px
}

body {
  background-color: #FFFFFF;
  margin: 20px 30px;
}

a {
  color: #006699;
  text-decoration: none;
  filter: FlipV;
  vertical-align: baseline;
}

a:hover {
  text-decoration: underline;
}

.caviar {
  background-color: #333333;
  color: #333333
}

.temoin {
  background-color: #333333;
  color: #333333
}

.temoin1 {
  background-color: #FF3333;
  color: #FF3333
}

.temoin2 {
  background-color: #33FF33;
  color: #33FF33
}

.temoin3 {
  background-color: #3333FF;
  color: #3333FF
}

caption {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: justify;
  vertical-align: bottom;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
}

table {
}

.leftImage {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.rightImage {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
}

form {
  margin: 0px;
  padding: 0px;
}

h4 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  clip: rect();
  color: #666666;
  letter-spacing: 1px;
  border-bottom-style: dotted;
  padding: 5px;
  border-bottom-width: thin;
  border-bottom-color: #DBDBDB;
  width: 50%;
}

.dialog {
  list-style-type: dash;
}

.objection {
  color: #FF5E5E;
}

.note {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #666666;
}

code {
  font-family: "Courier New", Courier, mono;
  font-size: 18px;
}

body a.note {
  vertical-align: super;
}

body a.source {
  vertical-align: super;
}

#notes {
  font-size: 12px;
  color: #666666;
  margin-left: 0;
  padding-right: 0;
  padding-bottom: 10;
  padding-left: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  margin-bottom: 10px;
}

#notes div.note {
  margin: 0 0 5px 0;
}

#sources {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #666666;
}

#sources div.source {
  margin: 0 0 5px 0;
}

.abstract {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  border-top-color: #CCCCCC;
  border-right-color: #CCCCCC;
  border-bottom-color: #CCCCCC;
  border-left-color: #CCCCCC;
  background-color: #EEEEEE;
  padding: 10px;
}

.abstract2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  border-top-color: #CCCCCC;
  border-right-color: #CCCCCC;
  border-bottom-color: #CCCCCC;
  border-left-color: #CCCCCC;
  background-color: #EEEEEE;
  padding: 10px;
}

.udotted {
  border-bottom-width: thin;
  border-bottom-style: dashed;
}

.Mini {
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.codeString {
  font-family: monospace;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-weight: normal;
  color: #0000CC;
}

.codeComment {

  font-family: monospace;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-weight: normal;
  color: #8E7B99;
}

.dateEnd {
  background-color: #F3F8FA;
  text-align: right;
  vertical-align: top;
  border-top-style: solid;
  border-top-width: medium;
  border-right-width: medium;
  border-right-style: solid;
  border-top-color: #FFFFFF;
  border-right-color: #D7E2EA;
  border-bottom-style: none;
  border-left-style: none;
  color: #6373A0;
  font-style: italic;
  letter-spacing: 3px;

}

.dateStart {
  background-color: #F3F8FA;
  text-align: right;
  vertical-align: bottom;
  border-right-width: medium;
  border-top-style: none;
  border-right-style: solid;
  border-right-color: #D7E2EA;
  border-bottom-width: medium;
  border-bottom-style: solid;
  border-bottom-color: #D7E2EA;
  border-left-style: none;
  color: #6373A0;
  font-style: italic;
  letter-spacing: 3px;
}

.anticode {
  font-family: monospace;
  font-size: medium;
  background-color: #F6F6F6;
  font-style: normal;
  font-weight: normal;
  text-align: left;
}

.titleCorner {
  border-top-style: none;
  border-left-style: none;
  font-style: italic;
  background-position: center center;
  border-right-style: none;
}

table {
  border: none;
}

code {
  font-family: monospace;
  font-size: 18px;
  background-color: #F2FFF4;
  font-style: normal;
  font-weight: normal;
  text-align: left;
}

.oui {
  background-color: #EDFCEB;
}

.non {
  background-color: #FCEFED;
}

.obsolete {
  background-color: #FFFFFF;
}

.mois {
  font-weight: bolder;
  font-variant: normal;
  color: #666666;
}

.jour {
  font-weight: bold;
}

.heure {
  font-style: normal;
  font-family: "Courier New", Courier, monospace;
}

.lieu {
  color: #000066;
}

.highslide {
  cursor: url(/web/20100617012930im_/http://rr0.org/highslide/graphics/zoomin.cur), pointer;
  outline: none;
}

.highslide-active-anchor img {
  visibility: hidden;
}

.highslide img {
  border: 2px solid gray;
}

.highslide:hover img {
  border: 2px solid white;
}

.highslide-wrapper {
  background: white;
}

.highslide-image {
  border: 2px solid white;
}

.highslide-image-blur {
}

.highslide-caption {
  display: none;

  border: 2px solid white;
  border-top: none;
  font-family: Verdana, Helvetica;
  font-size: 10pt;
  padding: 5px;
  background-color: white;
}

.highslide-loading {
  display: block;
  color: black;
  font-size: 8pt;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 2px;
  border: 1px solid black;
  background-color: white;

  padding-left: 22px;
  background-image: url(/web/20100617012930im_/http://rr0.org/highslide/graphics/loader.white.gif);
  background-repeat: no-repeat;
  background-position: 3px 1px;
}

a.highslide-credits,
a.highslide-credits i {
  padding: 2px;
  color: silver;
  text-decoration: none;
  font-size: 10px;
}

a.highslide-credits:hover,
a.highslide-credits:hover i {
  color: white;
  background-color: gray;
}

a.highslide-full-expand {
  background: url(/web/20100617012930im_/http://rr0.org/highslide/graphics/fullexpand.gif) no-repeat;
  display: block;
  margin: 0 10px 10px 0;
  width: 34px;
  height: 34px;
}

/* These must always be last */
.highslide-display-block {
  display: block;
}

.highslide-display-none {
  display: none;
}

.canular {
  text-decoration: line-through;
}

.meprise {
  text-decoration: overline;
}

<!--
FILE ARCHIVED ON

01
:

29
:

30
Jun

17
,
2010
AND RETRIEVED FROM THE
INTERNET ARCHIVE ON

20
:

55
:

36
Aug

27
,
2024
.
JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.
ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT

(
17
U.S.C.
SECTION

108
(
a

)
(
3
)
)
.

-->
<!--
playback timings

(
ms

)
:
captures_list:

0.509
exclusion.robots:

0.017
exclusion.robots.policy:

0.007
esindex:

0.011
cdx.remote:

12.213
LoadShardBlock:

338.543
(
3
)
PetaboxLoader3.datanode:

170.087
(
4
)
PetaboxLoader3.resolve:

253.794
(
3
)
load_resource:

138.238
-->
