.side {
  width: 20%;

  &:hover {
    width: 40%;
  }
}

.long {
  max-height: 80vh;
}

data {
  border-bottom: 1px #999 dotted;
}

.wide {
//  margin: auto; /* centering */
  width: 100%;
}

iframe {
  display: block;
  overflow: auto;
  .wide {
    border-radius: $borderRadius;
    border-style: ridge;
  }
}

iframe, object, embed {
  @include embedded;
}

.left {
  @extend .image-container;
  float: left;
  margin-left: 0;
  margin-right: $sideMargin;

  figcaption {
    text-align: left;
  }
}

.right {
  @extend .image-container;
  float: right;
  margin-left: $sideMargin;
  margin-right: 0;

  figcaption {
    text-align: right;
  }
}

//.abstract:before,
//.abstract:after {
//  content: "";
//  position: absolute;
//  z-index: -2;
//}
/* Lifted corners */
.abstract {
  font-weight: bold;
  border-right-style: none;
  background: rgba(47, 47, 47, 0.10);
  padding: 0.7em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

//.abstract:before,
//.abstract:after {
//  bottom: $shadow-length;
//  width: 50%;
//  max-width: 47%;
//  height: 20%;
//  box-shadow: 0 $shadow-length 10px rgba(0, 0, 0, 0.7);
//}
//$shadow-rotate: 1deg;
//.abstract:before {
//  left: 0.7em;
//  transform: rotate(-$shadow-rotate);
//}
//
//.abstract:after {
//  right: 0.7em;
//  transform: rotate($shadow-rotate);
//}

.abstract2 {
  @extend .abstract;
  font-weight: normal;
}

.org {
  background-color: #E9FFE5;
}

.personne {
  background-color: #FEE9EA;
}

.tech {
  background-color: #E7EFFF;
}

/*section {*/
/*-webkit-column-width:12em;*/
/*column-width:12em;*/
/*height:10em;*/
/*border-top:2em;*/
/*}*/
section:after {
  content: "";
  display: block;
  width: 50%;
  margin-left: 50%;
  color: #666666;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.5em;
}

p {
  text-align: justify;
  margin: 1.25em 0 1.5em 0;
  hyphens: auto;
}

a {
  color: #006699;
  text-decoration: none;
  @include selectable;
}

abbr {
  border-bottom: 1px dotted #999;
}
@media (max-width: $twoPanes) {
  /*@media (touch-enabled),(-webkit-touch-enabled),(-moz-touch-enabled),(-o-touch-enabled),(-ms-touch-enabled) {*/
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
}

details {
  summary {
    @extend a;
  }
  &[open] {
    border: 1px #000000 dotted;
    > * {
      margin: 0;
      padding: 0.5em;
    }
    summary {
      color: #000000;
      &:hover {
        background: none;
      }
      margin: 0;
      padding: 0;
    }
  }
}

.text {
  > p:first-of-type {
    margin-top: 0;
  }
  > p:last-of-type {
    margin-bottom: 0;
  }
}

/**
 * Avoid line-break between checkbox/radio and its label
 */
.option {
  white-space: nowrap;
  display: inline-block;
  margin-right: 1em;
}

.metadata {
  z-index: -1;
  position: relative;
  left: -$textMargin;
  top: -$textMargin;
}

@import "table";
@import "images";
@import "quote";
@import "code";
@import "context";

@import "time/time";
@import "people/people";
@import "place/place";
@import "investigation";
