@import "../../mixins";

.search {
  @include selectable();
  display: inline-block;
  form {
    * {
      display: inline;
    }
    label {
      display: none;
    }
    input {
      width: 80%;
      max-width: 30em;
      height: 80%;
    }
    .iconic.magnifying_glass {
      @include selectable();
      cursor: pointer;
    }
  }
}
.search-result {
  @include dropdownMenu();
}