<div ng-mouseover="searchOver()">
    <form ng-submit="doSearch()">
        <label for="search-input">Rechercher</label>
        <input type="search" id="search-input" ng-model="searchInput" tabindex="200" ng-keydown="searchKey($event)">
        <!--<button type="submit">-->
            <!--<span class="label">Rechercher</span>-->
            <span class="iconic magnifying_glass" title="Rechercher" ng-click="doSearch()"></span>
        <!--</button>-->
    </form>
    <ul id="search" ng-mouseleave="searchLeave()">
        <li ng-repeat="r in searchResults" tabindex="{{201+$index}}" title="{{r.snippet}}">
            <a href="{{r.link}}"><span ng-bind-html="r.htmlTitle | unsafe"></span></a>
        </li>
    </ul>
</div>