@import "../../mixins";

$headerBackColor: rgb(224, 224, 233);

header {
  background-image: linear-gradient(to right, $headerBackColor 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.5) 100%);
  background-position: center !important;
  background-size: cover !important;
  font-family: $menuFont;
  margin: 0;

  h1 {
    color: #666;
    font-family: inherit;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 100%;
    margin: 0;
    padding: 0.8em;
    text-shadow: 0 0 0.5em white;
  }
}

h2 {
  @include gradientFromLeft;
  clear: both;
  color: #666;
  font-family: $contentFont;
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: $shadowLength;
  margin-left: -$textMargin;
  margin-right: 0;
  margin-top: 1.5em;
  padding-bottom: 0.4em;
  padding-left: $textMargin;
  padding-top: 0.35em;
  text-align: left;
  text-decoration: none;
  width: 50%;
}

h3 {
  @extend h2;
  background: transparent;
  border-bottom: thin dotted #dbdbdb;
  font-size: 1.2em;
  margin-top: 1.25em;
}

h4 {
  @extend h3;
  font-size: 16px;
  margin: 1.25em 0 0 0.83em;
  padding: 5px;
}

section {
  h1 {
    @extend h2;
  }

  section {
    h1 {
      @extend h3;
    }
  }
}


/*header:hover {*/
/*top:0;*/
/*}*/

.title {
  color: #f5f5ff;
  font-size: 5em;
  font-weight: lighter;
  margin: 2vh 0;
  position: fixed;
  z-index: -1;
}

/*@media (max-device-width: 480px) {*/
/*@media (touch-enabled),(-webkit-touch-enabled),(-moz-touch-enabled),(-o-touch-enabled),(-ms-touch-enabled) {*/
/*header {*/
/*position: fixed;*/
/*top:0;*/
/*box-shadow: none;*/
/*}*/
/*h1 {*/
/*margin-top: 0.7em;*/
/*}*/
/*}*/
//@media (min-width: 75em) {
/*@media (touch-enabled),(-webkit-touch-enabled),(-moz-touch-enabled),(-o-touch-enabled),(-ms-touch-enabled) {*/
//* {
//  font-size: 1.025em;
//}
//}
