.dateEnd {
  background-color: #F3F8FA;
  text-align: right;
  vertical-align: top;
  border-style: solid;
  border-top: medium #FFFFFF;
  border-right: medium #D7E2EA;
  border-bottom-style: none;
  border-left-style: none;
  color: #6373A0;
  font-style: italic;
  letter-spacing: 3px;

}

.dateStart {
  background-color: #F3F8FA;
  text-align: right;
  vertical-align: bottom;
  border-style: none;
  border-right: medium solid #D7E2EA;
  border-bottom: medium solid #D7E2EA;
  color: #6373A0;
  font-style: italic;
  letter-spacing: 3px;
}

.mois {
  font-weight: bolder;
  font-variant: normal;
  color: #666666;
}

.jour {
  font-weight: bold;
}

.heure {
  font-style: normal;
  font-family: "Courier New", Courier, monospace;
}
