footer {
  margin-top: 2em;
  line-height: 1em;
  iframe {
    display: inline;
  }
}

.footer {
  font-size: 0.7em;
  line-height: 1.7em; 
  color: #CCC;
  text-align: right;
}

.foot:target {
  background: #bbbbbb;
  color: white;
}

.source {
  vertical-align: super;
  font-size: 0.7em;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  color: #666666;
  display: none;
}

.note {
  font-size: 0.7em;
  font-style: normal;
  line-height: normal;
  font-weight: normal;
  font-variant: normal;
  color: #666666;
  vertical-align: super;
  display: none;
}

#sources {
  font-size: 0.7em;
  color: #666666;
}

#notes {
  list-style-type: lower-alpha;
  font-size: 0.7em;
  color: #666666;

  li.note {
    margin: 0 0 5px 0;
  }
}

@import "js/note/cite/book/rr0-book";