.matrix {
  min-width: 75%;
  form {
    width: 100%;
  }
  .tabs {
    display: table;
   .tab {
      display: table-row;
      > * {
        display: table-cell;
      }
      label {
        text-align: right;
        padding-right: 0.5em;
        width: 8em;
      }
      input {
        width: 100%;
        font-family: monospace;
      }
    }
  }
}