@import "../mixins";

nav {
  h1 {
    display: none;  // Heading here is only for accessibility
  }
  font-size: 0.9em;
  transition: width, height $transitionDuration;
  z-index: 100;
  width: 100%;
  background: rgba(253, 250, 250, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  &.collapsed {
    top: 0;
    position: fixed;
    .outline-title {
      font-weight: bold;
    }
  }
  ul { // Nav elements list
    @include headerBackground();
    margin: 0;
    padding: 0;
    li {
      padding: $selectionPaddingY $selectionPaddingX;
      * {
        font-family: $menuFont;
      }
      &.alternate {
        color: lightgray;
      }
      &:hover {
        border-right: none;
      }
      .label {
        ul li:hover {
          cursor: pointer;
        }
      }
      a {
        display: block;
      }
    }
    > li {
      float: left;
      padding: $selectionPaddingY $selectionPaddingX;
      display: inline;
    }
  }
  &.collapsed {
    position: fixed;
    z-index: 201;
  }
}
.outline {
  @include dropdownMenu();
  font-size: 0.7em;
}

.toggleMap {
  * {
    display: inline-block;
  }
  float: right;
  display: none;
}

@import "search/search";

.outline-title:hover + .outline, .outline:hover,
.search form:hover + .search-result, .search-result:hover {   // Triggers for drop-down menus
  height: auto;
}

/**
 *
 */
@media (max-width: $onePane) {
  .label {
    display: none;
  }
}

/**
 * Single pane :
 * - outline and search are drop-down menus
 */
@media (max-width: $twoPanes) {
  aside {
    width: 0;
  }
  nav {
    > ul {
      overflow: hidden; /* BFC */
    }
  }
}

/**
 * 1 or 2 panes
 */
@media (max-width: $threePanes) {
  .contents {
    width: 100%;
  }
}

/**
 * 2 panes and more
 */
@media (min-width: $twoPanes) {
  .search {
    width: 100%;
    box-sizing: content-box;
    label {
      display: inline;
    }
  }
  .search-result {
    min-width: 30em;
    max-width: 100vw - $leftPaneWidth;
    z-index: 1;
  }
  .label {
    display: inline;
  }
  nav {
    overflow: visible;  /* To display search results aside */
    width: $leftPaneWidth;
    position: absolute;
    height: 100%;
    ul {
      background: none;
      li {
        display: block;
        padding: $selectionPaddingY $selectionPaddingX;
        float: none;
      }
    }
    .collapsed {
      display: none;
    }
  }
  .outline {
    @include embeddedMenu;
    max-height: 75vh;
    margin-left: 10%;
    /*    position: fixed;
        margin-left: 0;
        margin-top: 10em;
        bottom: 0;
        padding-left: 1em;
        width: 18%;
    */
  }
  .text {
    left: $leftPaneWidth;
    min-height: 100%;
    position: absolute;
  }
  ui-view {
    .text {
      left: 0;
      width: 100%;
    }
  }
}

/**
 * 3 panes
 */
@media (min-width: $threePanes) {
  .contents {
    width: 100% - $rightPaneWidth;
  }
  aside {
    width: $rightPaneWidth;
  }
}

.menu ul li .current {
  color: #FFF;
  background-color: $hoverColor;
  text-decoration: none;
}

.menu {
  overflow: auto; /* clear workaround */
  width: 100%; /* clear workaround */

  ul {
    margin: 0;
    padding: 0;

    li {
      float: left;
      font-size: 0.9em;
      display: inline;
      border: none;

      a {
        text-decoration: none;
        color: $hoverColor;
        padding: $selectionPaddingY $selectionPaddingX;
        border: none;
      }
    }
  }
}

.menu ul li a:active, .menu ul li a:focus, .menu ul li .current {
  color: #FFF;
  background-color: $hoverColor;
  text-decoration: none;
  border: none;
}

.SubMenu {
  float: right;
  .title {
    font-weight: bold;
    text-indent: 1.4em;
  }
}
